[submodule "ext/GUnit"]
	path = ext/GUnit
	url = git@github.com:cpp-testing/GUnit.git

[submodule "ext/eigen-git-mirror"]
	path = ext/eigen-git-mirror
	url = git@github.com:eigenteam/eigen-git-mirror.git

[submodule "ext/nlopt"]
	path = ext/nlopt
	url = git@github.com:stevengj/nlopt.git

[submodule "clothoids"]
	path = ext/Clothoids
	url = git@github.com:BingyuZhou/Clothoids.git
